@charset "utf-8";
/* CSS Document */
html,body,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ul,ol,li,form,button,input,textarea,th,img,pre{ margin:0; padding:0;}
ul,ol,li{ list-style:none;}
a{text-decoration:none; outline:none; color:#333;}

/*select*/
.login_select{ width:100%; height:32px; display:inline-block; border:1px solid #d6e1e5; line-height:32px; cursor:pointer; border-radius:3px; outline:none;}

/*login*/
.ziti{ font-size:0; line-height:0; z-index:-9999px;}
.login_bg{ background:url(../img/login/login_bg.jpg) no-repeat center top;}
.login_wrap{ position:relative; max-width:1366px; margin:0 auto;}
.zw_lg{ width:406px; height:54px;  no-repeat; position:absolute; top:26px; left:4%;}
.login_box{ width:584px; min-height:180px; background:#fff; left:50%; top:240px; margin-left:-337px; padding:45px; border-radius:8px; position:absolute;}
.login_box ul{width:265px; /*overflow:hidden;*/}
.login_box li{ padding-bottom:12px; /*overflow:hidden;*/}
.login_box p{ font-size:16px; color:#333; padding-bottom:20px;}
.login_box input{ height:32px; line-height:32px; padding-left:30px; border:#d4e3e0 1px solid; color:#333; border-radius:5px; width:100%; font-size:14px;}
.login_box input.login_user{ background:url(../img/login/user.png) no-repeat 10px 8px;}
.login_box input.login_pwd{ background:url(../img/login/pass.png) no-repeat 10px 8px;}
.login_box input.login_mm{ width:52%; margin-right:3%; float:left; background:url(../img/login/mm.png) no-repeat 10px 8px;}
.login_box input:focus{ outline:none; border:#2D8EF6 1px solid; border-radius:5px; box-shadow:0 0 10px #2D8EF6;} 
.login_box .yzm{ height:32px; line-height:32px; border-radius:4px; background-color:#f0f0f0; width:45%; display:inline-block; float:left;}
.login_box .btn{ width:50%; height:34px; line-height:34px; color:#fcfcfc; font-size:14px; font-weight:bold; text-align:center; background-color:#41a8f5; border-radius:4px; display:inline-block; margin:10px 0 0 70px; text-decoration:none;}
/*.login_box .btn{ width:45%; height:34px; line-height:34px; color:#fcfcfc; font-size:14px; font-weight:bold; text-align:center; background-color:#41a8f5; border-radius:4px; display:inline-block; margin-top:10px; text-decoration:none; float:left;}
.login_box .btn:first-child{ margin-right:10%;}*/
.login_box .tishi{ color:#f84545; font-size:12px;}
.login_tu{ width:360px; height:245px; background:url(../img/login/lg_tu.png) no-repeat; position:absolute; top:20px; right:-55px;}
