@charset "utf-8";

/*滚动条*/
body  /*ie*/
{
	/*overflow-y: scroll;*/
	scrollbar-face-color:#EAEAEA;
	scrollbar-shadow-color:#EAEAEA;
	scrollbar-highlight-color:#EAEAEA;
	scrollbar-3dlight-color:#EAEAEA;
	scrollbar-darkshadow-color:#697074;
	scrollbar-track-color:#1c2b36;
	scrollbar-arrow-color:#fff;
}

::-webkit-scrollbar {  
  width: 4px;  
  height: 4px;  
}  
  
::-webkit-scrollbar-track,  
::-webkit-scrollbar-thumb {  
  border-radius: 999px;  
  border: 5px solid transparent; 
}  
  
::-webkit-scrollbar-track {  
  box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset;
}  
  
::-webkit-scrollbar-thumb {  
  min-height: 20px;  
  background-clip: content-box;  
  box-shadow: 0 0 0 5px rgba(0,0,0,.2) inset;  background:#d8d7d7; 
}  
  
::-webkit-scrollbar-corner {  
  background: transparent;  
}

.yxip{
  margin-bottom: 20px;
  margin-left: 20px;
}